DirectoryIndex index.cgi index.html
AuthUserFile /home/pgengler/.htpasswd
AuthGroupFile /dev/null
AuthName Todo
AuthType Basic

RewriteEngine  on
RewriteBase    /
RewriteRule   ^(.+)/$  #$1 [R,NE]

<Files *>
        require user pgengler
</Files>
