.hidden   { display: none; }

tr {
	background-color: white;
}

.done td {
	text-decoration: line-through;
}

.today {
	background-color: #C2E1FF;
}

	.today.mark {
		background-color: #6BBAFF;
	}

	.today.done {
		background-color: #E5F3FF;
	}

.past {
	background-color: #FFCB9E;
}

	.past.mark {
		background-color: #FF2E35;
	}

	.past.done {
		background-color: white;
	}

.future {
	background-color: white;
}

	.future.mark {
		background-color: #A1FF9E;
	}

th {
	background-color: #343434;
	color: white;
}

table			{ width: 100%; }
td.back		{ background-color: black; width: 95%; padding: 0px; }
td.day		{ font-variant: small-caps; }

tr.past:hover, tr.today:hover, tr.future:hover {
	background-color: #ffffcc !important;
}

input.time { width: 2.5em; }

fieldset { border: 0; margin: 0; padding: 0; }

span.done { text-decoration: line-through; }
.mark input.mark { background-color: #ccc; }

a:visited { color: blue; }

a#optiontoggle { margin-left: 1em; }

div#opts { margin-top: 1em; }

table#colors tr td { border: 1px solid black; }

.nodec {
	text-decoration: none !important;
}

#weekof {
	display: none;
}

input.mark {
	border: 1px solid black;
	width: 75%;
	background-color: white;
}

	tr.mark input.mark {
		font-weight: bold;
		color: red;
	}
