.hidden   { display: none; }

tr {
	background-color: white;
}

.done td {
	text-decoration: line-through;
}

.today {
	background-color: #C2E1FF;
}

	.today.mark {
		background-color: #6BBAFF;
	}

	.today.done {
		background-color: #E5F3FF;
	}

.past {
	background-color: #FFCB9E;
}

	.past.mark {
		background-color: #FF2E35;
	}

	.past.done {
		background-color: #EEE;
	}

.future {
	background-color: white;
}

	.future.mark {
		background-color: #A1FF9E;
	}

.undated {
	background-color: white;
}

	.undated.done {
		background-color: #EEE;
	}

	.undated.mark {
		background-color: #A1FF9E;
	}

th {
	background-color: #343434;
	color: white;
}

table#content {
	background-color: black;
	width: 89.8%;
}

td.day		{ font-variant: small-caps; }

tr.past:hover, tr.today:hover, tr.future:hover, tr.undated:hover {
	background-color: #ffffcc !important;
}

input.time { width: 2.5em; }

input.tagname {
	width: 6em;
}

fieldset { border: 0; margin: 0; padding: 0; }

span.done { text-decoration: line-through; }
.mark input.mark { background-color: #ccc; }

a:visited { color: blue; }

a#optiontoggle { margin-left: 1em; }

div#opts { margin-top: 1em; }

table#colors tr td { border: 1px solid black; }

.nodec {
	text-decoration: none !important;
}

#weekof {
	display: none;
}

input.mark {
	border: 1px solid black;
	width: 75%;
	background-color: white;
}

	tr.mark input.mark {
		font-weight: bold;
		color: red;
	}

div.event {

}

img.tagmenu {
	display: none;
	padding-left: 2px;
}

	td.event:hover > div > img.tagmenu {
		display: inline;
	}

.show {
	display: inline !important;
}

.unselected {
	filter: alpha(opacity=40);
	opacity: 0.4;
}

div#extra {
	float: right;
	text-align: left;
	width: 10%;
}

ul#showtaglist {
	list-style: none;
	padding: 0;
	margin: 0;
}

	ul#showtaglist span.tag {
		cursor: pointer;
	}


ul#optionslist {
	padding: 0 0 0 1em;
	margin: 0;
	font-size: 80%;
}

div#popup_edittags {
	width: 9.5em;
}

	div#popup_edittags td.tagname {
		width: 6em;
	}
	
img {
	border: 0;
}

th.done {
	width: 1.5em;
}

th.day {
	width: 6.5em;
}

th.location {
	width: 33%;
}

th.times {
	width: 10%;
}

th.mark {
	width: 1em;
}


tr#empty td {
	font-weight: bold;
	text-align: center;
}

div#picktagslist {
	border-bottom: 1px solid black;
	max-height: 15em;
	overflow-y: auto;
}

table#colorkey {
	font-size: 8pt;
	text-align: center;
}
	table#colorkey td {
		width: 50%;
	}

input.hasDatepicker {
	width: 6em;
}

td.loading {
	font-size: 150%;
	font-weight: bold;
}

input#newdate {
	background-color: #ccc;
	width: 95%;
}
