.hidden   { display: none; }

.front	{ background-color: white; }

.mark  { background-color: #A1FF9E; }
.passedmark { background-color: #FF2E35; }
.todaymark { background-color: #6BBAFF; }

.passed { background-color: #FFCB9E; } /* SET */
.today  { background-color: #E5F3FF; } /* SET */
tr.head		{ background-color: #343434; color: white; }
table			{ width: 100%; }
td.back		{ background-color: black; width: 95%; padding: 0px; }
td.day		{ font-variant: small-caps; }
tr.front:hover, tr.today:hover, tr.passed:hover, tr.mark:hover, tr.passedmark:hover, tr.todaymark:hover	{ background-color: #ffffcc; }

input.time { width: 2.5em; }

fieldset { border: 0; margin: 0; padding: 0; }

span.done { text-decoration: line-through; }
input.done { border: 1px solid black; width: 75%; background-color: #eee; }
input.done:hover { background-color: #ccc; }

a:visited { color: blue; }

a#optiontoggle { margin-left: 1em; }

div#opts { margin-top: 1em; }

table#colors tr td { border: 1px solid black; }
