<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.1//EN' 'http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en'>
	<head>
		<!-- TMPL_IF week_start -->
		<title>Todo - Week of <!-- TMPL_VAR name='week_start' --></title>
		<!-- TMPL_ELSE -->
			<!-- TMPL_IF template -->
		<title>Todo - Template</title>
			<!-- TMPL_ELSE -->
		<title>Todo</title>
			<!-- /TMPL_IF -->
		<!-- /TMPL_IF -->
		<link href='<!-- TMPL_VAR name='url' -->list.css' type='text/css' rel='stylesheet' />
		<script type='text/javascript' src='<!-- TMPL_VAR name='url' -->jquery.js'></script>
		<script type='text/javascript' src='<!-- TMPL_VAR name='url' -->ajax.js'></script>
		<script type='text/javascript' src='<!-- TMPL_VAR name='url' -->todo.js'></script>
		<script type='text/javascript' src='<!-- TMPL_VAR name='url' -->strftime.js'></script>
		<script type='text/javascript'>
			var index_url    = '<!-- TMPL_VAR name='index_url' -->';
			var base_url     = index_url + 'ajax.cgi';
			var use_mark     = <!-- TMPL_VAR name='use_mark' -->;
			var undated_last = <!-- TMPL_VAR name='undated_last' -->;
			var show_date    = <!-- TMPL_VAR name='show_date' -->;
		<!-- TMPL_IF template -->
			var template = 1;
		<!-- TMPL_ELSE -->
			var template = 0;
			var date_format = "<!-- TMPL_VAR name='date_format' -->";
			var start_date  = new Date(<!-- TMPL_VAR name='start_year' -->, <!-- TMPL_VAR name='start_month' -->, <!-- TMPL_VAR name='start_day' -->);
			var dates = [];
			for (var i = 0; i <= 6; i++) {
				dates[i] = new Date(start_date);
				dates[i].setDate(start_date.getDate() + i);
			}
		<!-- /TMPL_IF -->
		</script>
	</head>
 	<body onkeydown="key_handler(event)">
		<h1 id='weekof'>
			Week of <!-- TMPL_VAR name='week_start' -->
		</h1>
		<form action='javascript:dispatch()' method='post' id='form'>
		<fieldset>
		<input type='hidden' name='week' id='week' value='<!-- TMPL_VAR name='week_id' -->' />
		<!-- TMPL_IF template -->
		<input type='hidden' name='template' id='template' value='1' />
		<!-- /TMPL_IF -->
		<table><tr><td class='back'>
			<table cellspacing='1' cellpadding='1' id='content'>
				<thead>
					<tr id='header'>
						<th style='width: 1.5em'>
							&nbsp;
						</th>
						<th style='width: 6.5em;'>
							Day
						</th>
						<th>
							Event
						</th>
						<th style='width: 33%'>
							Location
						</th>
						<th style='width: 10%;'>
							Time
						</th>
						<!-- TMPL_IF use_mark -->
						<th style='width: 1em'>
							&nbsp;
						</th>
						<!-- /TMPL_IF -->
					</tr>
				</thead>
				<tbody>
				<!-- TMPL_LOOP name='events' -->
				<!-- TMPL_IF mark_css -->
				<!-- TMPL_IF done -->
				<tr class='mark done' id='item<!-- TMPL_VAR name='id' -->'>
				<!-- TMPL_ELSE -->
				<tr class='mark' id='item<!-- TMPL_VAR name='id' -->'>
				<!-- /TMPL_IF -->
				<!-- TMPL_ELSE -->
				<!-- TMPL_IF done -->
				<tr class='done' id='item<!-- TMPL_VAR name='id' -->'>
				<!-- TMPL_ELSE -->
				<tr id='item<!-- TMPL_VAR name='id' -->'>
				<!-- /TMPL_IF -->
				<!-- /TMPL_IF -->
					<td style='text-align: center' class='nodec'>
						<!-- TMPL_IF done -->
						<input type='checkbox' id='done<!-- TMPL_VAR name='id' -->' onclick='toggle_done(<!-- TMPL_VAR name='id' -->)' checked='checked' />
						<!-- TMPL_ELSE -->
						<input type='checkbox' id='done<!-- TMPL_VAR name='id' -->' onclick='toggle_done(<!-- TMPL_VAR name='id' -->)' />
						<!-- /TMPL_IF -->
					</td>
					<td class='day' onclick='show_day_edit(<!-- TMPL_VAR name='id' -->)'>
						<!-- TMPL_VAR name='day' --><!-- TMPL_IF show_date --><!-- TMPL_IF date --><span class='date'><!-- TMPL_VAR name='date' --></span>
						<!-- /TMPL_IF -->
						<!-- /TMPL_IF -->
					</td>
					<td onclick='show_event_edit(<!-- TMPL_VAR name='id' -->)'>
						<!-- TMPL_VAR name='event' escape='html' -->
					</td>
					<td onclick='show_location_edit(<!-- TMPL_VAR name='id' -->)'>
						<!-- TMPL_VAR name='location' escape='html' -->
					</td>
					<td onclick='show_times_edit(<!-- TMPL_VAR name='id' -->)'>
						<!-- TMPL_VAR name='start' -->
						<!-- TMPL_IF end -->
						&ndash; <!-- TMPL_VAR name='end' -->
						<!-- /TMPL_IF -->
					</td>
					<!-- TMPL_IF use_mark -->
					<td style='text-align: center' class='nodec'>
						<input type='button' id='mark<!-- TMPL_VAR name='id' -->' onclick='toggle_mark(<!-- TMPL_VAR name='id' -->)' class='mark' value='!' /> <!-- <!-- TMPL_VAR name='mark' --> -->
					</td>
					<!-- /TMPL_IF -->
				</tr>
				<!-- /TMPL_LOOP -->
				</tbody>
			</table>
		</td></tr></table>
		</fieldset>
		</form>
		<div id='weeks'>
			<!-- TMPL_UNLESS events -->
				<!-- TMPL_UNLESS template -->
			<form action='<!-- TMPL_VAR name='url' -->index.cgi' method='post' id='template'>
			<fieldset>
				<input type='hidden' name='act' value='template' />
				<input type='hidden' name='week' value='<!-- TMPL_VAR name='week_id' -->' />
				<input type='submit' value='Load template' />
			</fieldset>
			</form>
				<!-- /TMPL_UNLESS -->
			<!-- /TMPL_UNLESS -->
			<a href="javascript:new_item_form()">Add new item</a>
			<!-- TMPL_IF prev_week -->
			<br />
			<table width='100%'>
				<tr>
					<td style='width: 33%; text-align: left'>
						<strong>Previous week</strong>
						<br />
						<a href='<!-- TMPL_VAR name='url' --><!-- TMPL_VAR name='prev_week' -->/' id='prevweek'>
							Week of <!-- TMPL_VAR name='prev_week_display' -->
						</a>
					</td>
					<td style='width: 34%; text-align: center'>
						<!-- TMPL_UNLESS current_week -->
						<br />
						<a href='<!-- TMPL_VAR name='url' -->' id='currweek'>
							View current week
						</a>
						<!-- /TMPL_UNLESS -->
					</td>
					<td style='text-align: right'>
						<strong>Next week</strong>
						<br />
						<a href='<!-- TMPL_VAR name='url' --><!-- TMPL_VAR name='next_week' -->/' id='nextweek'>
							Week of <!-- TMPL_VAR name='next_week_display' -->
						</a>
					</td>
				</tr>
			</table>
			<!-- /TMPL_IF -->
		</div>
		<!-- TMPL_UNLESS template -->
		<div id='opts'>
			<strong>
				Options:
			</strong>
			<span id='options' class='hidden'>
				<a href='#' onclick='return load_template()'>Load template</a>
				|
				<a href='#' onclick='return move_incomplete()'>Move unfinished items to next week</a>
				|
				<a href='<!-- TMPL_VAR name='url' -->template/'>Edit template</a>
				<!-- TMPL_IF use_mark -->
				|
				<a href='#' id='colorlabel' onclick='return toggle_colors()'>
					Show color key
				</a>
				<!-- /TMPL_IF -->
			</span>
			<a id='optiontoggle' href='#' onclick='return toggle_options()'>
				[show]
			</a>
		</div>

		<!-- TMPL_IF use_mark -->
		<div style='margin-top: 1em'>
			<table id='colors' class='hidden'>
				<tr>
					<td class='future' style='width: 50%'>
						Upcoming
					</td>
					<td class='future mark'>
						Upcoming, marked
					</td>
				</tr>
				<tr>
					<td class='today'>
						Today
					</td>
					<td class='today mark'>
						Today, marked
					</td>
				</tr>
				<tr>
					<td class='past'>
						Overdue
					</td>
					<td class='past mark'>
						Overdue, marked
					</td>
				</tr>
			</table>
		</div>
		<!-- /TMPL_IF -->
		<!-- /TMPL_UNLESS -->
	</body>
</html>

