<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.1//EN' 'http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en'>
	<head>
		<!-- TMPL_IF week_start -->
		<title>Todo - Week of <!-- TMPL_VAR name='week_start' --></title>
		<!-- TMPL_ELSE -->
			<!-- TMPL_IF template -->
		<title>Todo - Template</title>
			<!-- TMPL_ELSE -->
		<title>Todo</title>
			<!-- /TMPL_IF -->
		<!-- /TMPL_IF -->
		<link href='http://common.pgengler.net/css/boxes.css' type='text/css' rel='stylesheet' />
		<link href='<!-- TMPL_VAR name='url' -->list.css' type='text/css' rel='stylesheet' />
		<link href='<!-- TMPL_VAR name='url' -->tags.css' type='text/css' rel='stylesheet' />
		<link href='<!-- TMPL_VAR name='url' -->print.css' type='text/css' rel='stylesheet' media='print' />
		<script type='text/javascript' src='http://common.pgengler.net/js/jquery.js'></script>
		<script type='text/javascript' src='http://common.pgengler.net/js/ajax.js'></script>
		<script type='text/javascript' src='http://common.pgengler.net/js/hashtable.js'></script>
		<script type='text/javascript' src='http://common.pgengler.net/js/create_element.js'></script>
		<script type='text/javascript' src='http://common.pgengler.net/js/boxes.js'></script>
		<script type='text/javascript' src='<!-- TMPL_VAR name='url' -->tag.js'></script>
		<script type='text/javascript' src='<!-- TMPL_VAR name='url' -->item.js'></script>
		<script type='text/javascript' src='<!-- TMPL_VAR name='url' -->todo.js'></script>
		<script type='text/javascript' src='<!-- TMPL_VAR name='url' -->loader.js'></script>
		<script type='text/javascript' src='<!-- TMPL_VAR name='url' -->strftime.js'></script>
		<script type='text/javascript'>
			var index_url    = '<!-- TMPL_VAR name='index_url' -->';
			var base_url     = index_url + 'ajax.cgi';
			var use_mark     = <!-- TMPL_VAR name='use_mark' -->;
			var undated_last = <!-- TMPL_VAR name='undated_last' -->;
			var show_date    = <!-- TMPL_VAR name='show_date' -->;
			var images_url   = '<!-- TMPL_VAR name='images_url' -->';
		<!-- TMPL_IF template -->
			var template = 1;
		<!-- TMPL_ELSE -->
			var template = 0;
			var date_format = "<!-- TMPL_VAR name='date_format' -->";
			var start_date  = new Date(<!-- TMPL_VAR name='start_year' -->, <!-- TMPL_VAR name='start_month' -->, <!-- TMPL_VAR name='start_day' -->);
			var dates = [];
			for (var i = 0; i <= 6; i++) {
				dates[i] = new Date(start_date);
				dates[i].setDate(start_date.getDate() + i);
			}
		<!-- /TMPL_IF -->
		</script>
	</head>
 	<body>
		<h1 id='weekof'>
			Week of <!-- TMPL_VAR name='week_start' -->
		</h1>
		<form action='javascript:dispatch()' method='post' id='form'>
		<fieldset>
		<input type='hidden' name='week' id='week' value='<!-- TMPL_VAR name='week_id' -->' />
		<!-- TMPL_IF template -->
		<input type='hidden' name='template' id='template' value='1' />
		<!-- /TMPL_IF -->
		<div id='extra'>

		</div>
		<table cellspacing='1' cellpadding='1' id='content'>
			<thead>
				<tr id='header'>
					<th class='done'>
						&nbsp;
					</th>
					<th class='day'>
						Day
					</th>
					<th class='event'>
						Event
					</th>
					<th class='location'>
						Location
					</th>
					<th class='times'>
						Time
					</th>
					<!-- TMPL_IF use_mark -->
					<th class='mark'>
						&nbsp;
					</th>
					<!-- /TMPL_IF -->
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan='6'>
						<div style='font-weight: bold; font-size: 150%'>
							<img src='<!-- TMPL_VAR name='url' -->images/loading.gif' alt='Loading' />
							Loading ...
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		</fieldset>
		</form>
		<div id='weeks'>
			<a href="javascript:new_item_form()">Add new item</a>
			<!-- TMPL_IF prev_week -->
			<br />
			<table width='100%'>
				<tr>
					<td style='width: 33%; text-align: left'>
						<strong>Previous week</strong>
						<br />
						<a href='<!-- TMPL_VAR name='url' --><!-- TMPL_VAR name='prev_week' -->/' id='prevweek'>
							Week of <!-- TMPL_VAR name='prev_week_display' -->
						</a>
					</td>
					<td style='width: 34%; text-align: center'>
						<!-- TMPL_UNLESS current_week -->
						<br />
						<a href='<!-- TMPL_VAR name='url' -->' id='currweek'>
							View current week
						</a>
						<!-- /TMPL_UNLESS -->
					</td>
					<td style='text-align: right'>
						<strong>Next week</strong>
						<br />
						<a href='<!-- TMPL_VAR name='url' --><!-- TMPL_VAR name='next_week' -->/' id='nextweek'>
							Week of <!-- TMPL_VAR name='next_week_display' -->
						</a>
					</td>
				</tr>
			</table>
			<!-- /TMPL_IF -->
		</div>
	</body>
</html>

